In [4]:
from functions import get_insert_statement

df = get_insert_statement(metrics=[{'expression': 'ga:sessions'}, ], dimensions=[{'name': 'ga:date'},
                                                                                 {'name': 'ga:source'},
                                                                                 {'name': 'ga:medium'},
                                                                                 {'name': 'ga:campaign'},
                                                                                 {'name': 'ga:adContent'},
                                                                                 {'name': 'ga:socialNetwork'},
                                                                                 {'name': 'ga:deviceCategory'}, ],
                     # table_name='google_analytics_sessions',
                     filter='',
                     )

In [3]:
df.head()

,adcontent,campaign,date,devicecategory,medium,sessions,socialnetwork,source,account
0,(not set),(not set),20190713,desktop,(none),160,(not set),(direct),Todos os dados
1,(not set),(not set),20190713,mobile,(none),193,(not set),(direct),Todos os dados
2,(not set),(not set),20190713,tablet,(none),4,(not set),(direct),Todos os dados
3,(not set),cs_central,20190713,desktop,centraldeajuda,1,(not set),atd_aluno,Todos os dados
4,(not set),ag_jonathan,20190713,mobile,intercom,1,(not set),atd_aluno,Todos os dados